{{#each events}}
    <tr>
        <td class="severity"><span class="defcon defcon-{{severity}}">{{severity}}</span></td>
        <td class="application">{{application}}</td>                    
        <td class="system">{{system}}</td>
        <td class="environment">{{environment}}</td>
        <td class="host">{{host}}</td>
        <td class="type">{{type}}</td>
        <td class="occurred" data-value="{{date}}" title="{{{ dateFormat date }}}">{{{ fromNow date }}}</td>
        <td class="message">{{message}}</td>
    </tr>
{{else}}
    <tr>                
        <td colspan="8">No events found.</td>
    </tr>
{{/each}}