{{#each events}}
    <tr>
        <td class="severity">
            <span class="defcon defcon-{{severity}}">{{severity}}</span>
            <span class="hidden">severity-{{severity}} sev-{{severity}} s-{{severity}} severity{{severity}} sev{{severity}} s{{severity}}</span>
            <span class="hidden">priority-{{severity}} p-{{severity}} priority{{severity}} p{{severity}}</span>
            <span class="hidden">defcon-{{severity}} defcon{{severity}}</span>
        </td>
        <td class="system">{{system}}</td>                    
        <td class="group">{{group}}</td>
        <td class="type">{{friendly type}}</td>        
        <td class="timestamp" data-value="{{timestamp}}" title="{{{ dateFormat timestamp }}}">{{{ fromNow timestamp }}}</td>                
        <td class="environment">{{environment}}</td>
        <td class="host">{{host}}</td>
        <td class="message">{{message}}</td>
        <td class="link">
            {{#if link}} 
                <a href="{{link}}"><i class="fa fa-external-link"></i></a>
            {{else}}
                &nbsp;
            {{/if}}
        </td>
    </tr>
{{else}}
    <tr>                
        <td colspan="8">There are no events</td>
    </tr>
{{/each}}